{% extends "internal/internal_master.html" %}

{% load static %}

{% block title %}
    {{ entity_name }} Detail
{% endblock %}

{% block content %}
<h2 class="mb-4">{{ entity_name }} Detail - {{ detail_name }}</h2>
<div id="entity_id_div">{{ entity_id }}</div>

<div class="container d-flex justify-content-center">
    <div class="table-responsive shadow-sm rounded" style="width: 100%;">
        {% if detail %}
            <table class="table table-bordered table-striped align-middle">
                <thead class="table-light">
                    <tr>
                        <th scope="col" style="width: 1%;">ID</th>
                        <th scope="col" style="width: 15%;">Attribute</th>
                        <th scope="col">Description</th>
                        <th scope="col" style="width: 11%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in detail.items %}
                    <tr>
                        <th class="text-nowrap">{{ key }}</th>
                        <td>{{ value.Attribute }}</td>
                        <td class="description-cell">{{ value.Description }}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" onclick="editRow(this)">Edit</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No detail found for {{ detail_name }}.
            </div>
        {% endif %}
        <div class="mt-3">
            <a href="{% url 'entity_list_view' route=entity_name|lower %}?entity={{ entity_name }}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>

<script>
    window.unusedAttributes = {{ unused_attributes|safe }};
    window.updateEntityDetailUrl = "{% url 'update_entity_detail' %}";
    window.entity = "{{ entity_name }}";
    window.entityId = "{{ entity_id }}";
</script>

<script src="{% static 'javascript/entity_detail.js' %}"></script>

{% endblock %}