{% extends "master.html" %}

{% block navbar %}
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer_dashboard' %}">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer_eagleeye' %}">Eagle Eye</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer_contracts' %}">Contracts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer_flex' %}">Flex</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer_bills' %}">Bills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer_profile' %}">Profile</a>
    </li>
  </ul>
{% endblock %}
  
{% block content %}
{% endblock %}

